@import './base.css';

body {
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
}

#app {
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 480px) {
  #app {
    display: grid;
    min-width: 100%;
    max-width: 800px;
  }
}
